<div class="container">
  <div class="flex-container">
    <form id="addMovie" method="post" action="/">
      <label for="title">Add a movie: </label>
      <input id="title" name="title" type="text" placeholder="e.g. Gladiator" required>
      <button type="submit" form="addMovie" class="left btn btn-outline-primary btn-default">Add Movie</button>
    </form>
  </div>
  <div class="grid mt-3">
    {{#if movies}} {{#each movies}}
    <a href="/{{id}}">
      <div class="card" style="width: 11rem;">
        <img class="card-img-top" src="{{poster}}" alt="Movie poster">
        <div class="card-body">
          <p class="card-title">{{title}} ({{year}})</p>
        </div>
      </div>
    </a>
    {{/each}} {{else}}
    <div class="alert alert-warning">You don't have any movies in your database</div>
    {{/if}}
  </div>
</div>
